/* App.css */

/* Styles globaux */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fc; 
  color: #33374B; /* Couleur de texte générale plus douce */
}

/* Styles de l'application */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #394263; 
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'ombre pour du relief */
}

.dashboard {
  display: flex;
  flex-direction: row;
  transition: 0.3s; /* Transition douce pour le re-dimensionnement */
}

/* Styles de la barre latérale */
.sidebar {
  width: 250px;
  background-color: #394263; /* Plus foncé pour contraster avec le contenu */
  color: white;
  padding: 20px;
  transition: all 0.3s; /* Transition douce pour les effets de survol */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px; /* Espacement légèrement augmenté */
}

.sidebar a {
  text-decoration: none;
  color: #adb5bd; /* Couleur plus douce pour un contraste moins agressif */
  font-weight: bold;
}

.sidebar a:hover {
  color: white;
  margin-left: 5px; /* Déplacement subtil pour indiquer l'interaction */
}

/* Styles du contenu principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff; /* Fond clair pour le contraste */
  border-left: 2px solid #edf2f7; /* Ligne de séparation subtile */
}

/* Styles des liens dans le contenu principal */
.main-content a {
  text-decoration: none; /* Supprimer le soulignage par défaut */
  color: #0052cc; /* Couleur cohérente avec l'en-tête */
  font-weight: bold; /* Rendre les liens audacieux */
}

.main-content a:hover {
  text-decoration: underline; /* Indicateur clair de lien cliquable */
}

/* Styles pour le graphique (TimeSeriesChart) */
#chart {
  background-color: white;
  padding: 20px;
  border-radius: 8px; /* Bords arrondis pour un look moderne */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre plus légère et plus douce */
}